#pointermenu2{
margin: 0;
padding: 0;
}

#pointermenu2 ul{
margin: 0;
margin-left: 0px;
float: left;
padding-left: 0px;
font: bold 12px Verdana;
}

* html #pointermenu2 ul{
margin-bottom: 0em;
margin-left: 0px;
}

#pointermenu2 ul li{
display: inline;
}


#pointermenu2 ul li a{
float: left;
color: white;
font-weight: bold;
padding: 7px 9px 7px 5px;
text-decoration: none;
}

#pointermenu2 ul li a:visited{
color: white;
}


#pointermenu2 ul li a:hover, #pointermenu2 ul li a#selected{
color: #ffffff;
background: transparent url(http://n.images.www.tvn.hu/tvn/kepek/topmenu/pointer.gif) bottom center no-repeat;
}

#pointermenu2 ul li a#rightcorner{
padding-right: 0;
padding-left: 0px;
}

#topmnavwrap {
        font-size: 14px;
        padding: 0;
        margin: 0 auto;
        background-color: #000;
        position: relative;
}

#topmnav {
        margin: 0;
        padding: 0;
        height: 1em;
        list-style-type: none;
}
#topmnav li {
        list-style: none;
        float: left; }
#topmnav li a {
        display: block;
        padding: 5px 5px 5px 5px;
        background-color: #000;
        color: #000000;
        text-decoration: none; }
#topmnav li ul {
        display: none;
        width: 10em; /* Width to help Opera out */
        background-color: #000;
        font:normal 12px Verdana;
        }
#topmnav li:hover ul, #topmnav li.hover ul {
        display: block;
        position: absolute;
        margin: 0;
        padding: 0; }
#topmnav li:hover li, #topmnav li.hover li {
        float: none; }
#topmnav li:hover li a, #topmnav li.hover li a {
        background-color: #000;
        border-bottom: 1px solid #fff;
        color: #d5d5d5;
        padding: 5px;
        margin: 0;
}
#topmnav li li a:hover {
        background-color: #242424; }

* html #topmnav ul li { float: left; height: 1%; }
* html #topmnav ul li a { height: 1%; }

